<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- test plan begin-->
<suite name="testPlan1" verbose="1">
	<!-- test suite begin-->
	<test name="testSuite1">
		<!-- test case begin-->
		<classes>
			<class name="TestA.aFastTest" />
			<class name="TestA.aSlowTest" />
		</classes>
		<!-- test case end-->
	</test>
	<!-- test suite end-->
</suite>
<!-- test plan end-->
