#define($content)
		
	<div class="row">
		<form action="/queryUsers" method="get">
			<div class="one columns">
				<label class="two columns">UserName:</label>
				<input class="five columns" type="text" size="20" name="userName"/>
				<input class="two columns" type="submit" value='#springMessage("check")'/>
			</div>
		</form>
	</div>

	<div>
		<table border="1" align="right" width="80%">
		<tr>
			<td>
	        <strong>#springMessage("caseName")</strong>
			</td>
			<td>
	        <strong>#springMessage("caseDesc")</strong>
			</td>
			<td>
	        <strong>#springMessage("caseNote")</strong>
			</td>
		</tr>
			#foreach($user in $userVMs)
      		<tr>
        		<td>
          			$user.getUserName()
				</td> 
        		<td>
          			$user.getAge()
				</td> 
        		<td>
          			$user.isMarried()
				</td> 
			</tr>
			#end
	 	 </table>
   </div>
#end